{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "iD Cloud APIs",
    "description" : "iD Cloud is an RFID integration platform for retail.",
    "contact" : {
      "url" : "https://developer.nedapretail.com/",
      "email" : "support-idcloud@nedap.com"
    },
    "version" : "20250320"
  },
  "servers" : [ {
    "url" : "https://api.nedapretail.com",
    "description" : "EU production"
  }, {
    "url" : "https://api.nedapretail.us",
    "description" : "US production"
  } ],
  "tags" : [ {
    "name" : "Approved difference list API"
  }, {
    "name" : "Article API"
  }, {
    "name" : "Difference list API"
  }, {
    "name" : "Display compliance API"
  }, {
    "name" : "EPCIS API"
  }, {
    "name" : "ERP stock API"
  }, {
    "name" : "KPI API"
  }, {
    "name" : "Organization API"
  }, {
    "name" : "Organization API v2"
  }, {
    "name" : "RFID count API"
  }, {
    "name" : "RFID stock API"
  }, {
    "name" : "Realtime Stock Mutation API"
  }, {
    "name" : "Refill API"
  }, {
    "name" : "Search list API"
  }, {
    "name" : "Shipment API v2"
  }, {
    "name" : "Transaction API"
  }, {
    "name" : "Webhook API"
  } ],
  "paths" : {
    "/approved_difference_list/v1/list" : {
      "get" : {
        "tags" : [ "Approved difference list API" ],
        "summary" : "List summaries",
        "description" : "Retrieves a list of approved difference list summaries for a given store.",
        "operationId" : "listApprovedDifferenceListSummaries",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "The location identifier of the store to retrieve the approved difference lists for.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-1"
        }, {
          "name" : "from_rfid_time",
          "in" : "query",
          "description" : "Approved difference lists with RFID count time after this value will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "until_rfid_time",
          "in" : "query",
          "description" : "Approved difference lists with RFID count time before this value will be returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ApprovedDifferenceListSummary"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/approved_difference_list/v1/retrieve" : {
      "get" : {
        "tags" : [ "Approved difference list API" ],
        "summary" : "Retrieve",
        "description" : "Retrieves an approved difference list, using the approved difference list identifier.",
        "operationId" : "retrieveApprovedDifferenceList",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Identifier of the approved difference list",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "96fb929a-80a7-4ddf-ac42-f153838383bb"
        }, {
          "name" : "include_articles",
          "in" : "query",
          "description" : "Whether to include article details like name, size, etc. in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "accept",
          "in" : "header",
          "description" : "Content type to return.",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json",
            "enum" : [ "application/json", "application/csv", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" ]
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovedDifferenceListResponse"
                }
              },
              "application/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovedDifferenceListResponse"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovedDifferenceListResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/approved_difference_list/v1/retrieve_summary" : {
      "get" : {
        "tags" : [ "Approved difference list API" ],
        "summary" : "Retrieve summary",
        "description" : "Returns the summary of an approved difference list for a certain location and RFID count time.",
        "operationId" : "retrieveApprovedDifferenceListSummary",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "The location identifier of the store to retrieve the approved difference list summary for.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-1"
        }, {
          "name" : "rfid_time",
          "in" : "query",
          "description" : "Date and time of the RFID count.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovedDifferenceListSummary"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/approved_difference_list/v1/export" : {
      "get" : {
        "tags" : [ "Approved difference list API" ],
        "summary" : "Export",
        "description" : "Exports an approved difference list, using the approved difference list identifier. This endpoint returns the approved difference list with only one quantity per GTIN: the RFID quantity if the difference for that GTIN has been approved, otherwise the ERP quantity. This endpoint returns all GTINs, even the ones where RFID and ERP quantities are equal.",
        "operationId" : "exportApprovedDifferenceList",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "Approved difference list identifier.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "example" : "96fb929a-80a7-4ddf-ac42-f153838383bb"
        }, {
          "name" : "include_articles",
          "in" : "query",
          "description" : "Whether to include article details like name, size, etc. in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ApprovedDifferenceListExportResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/approved_difference_list/v1/update_export_status" : {
      "post" : {
        "tags" : [ "Approved difference list API" ],
        "summary" : "Update export status",
        "description" : "Updates the export status of an approved difference list.",
        "operationId" : "updateApprovedDifferenceListExportStatus",
        "requestBody" : {
          "description" : "Update export status request.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ApprovedDifferenceListExportStatusUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v3/create_or_replace" : {
      "post" : {
        "tags" : [ "Article API" ],
        "summary" : "Create or replace",
        "description" : "Creates or replaces article(s). Articles are replaced using the GTIN as primary key.",
        "operationId" : "createOrReplaceArticles",
        "requestBody" : {
          "description" : "A list of articles that should be created or replaced.",
          "content" : {
            "application/json" : {
              "schema" : {
                "maxItems" : 10000,
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/Article"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Bad request"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/retrieve" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Retrieve",
        "description" : "Retrieves articles. Optionally specify updated_after to retrieve articles updated after the given date and time. Use the skip and count parameters for pagination of results.",
        "operationId" : "retrieveArticles",
        "parameters" : [ {
          "name" : "updated_after",
          "in" : "query",
          "description" : "Articles updated on or after this date and time. When omitted: return all articles.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Skip this number of articles. When omitted: skip none.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "Return this number of articles. The maximum number of returned articles is limited to 50.000. When omitted: return 100 articles.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "fields[]",
          "in" : "query",
          "description" : "List of fields (properties) of the article to return. Use this to limit the amount of data when not all article fields are needed. When omitted, all available fields are returned. Names of the fields should be given exactly as they appear in the API response. The GTIN field is always returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/retrieve_by_gtin" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Retrieve by GTIN",
        "description" : "Retrieves articles associated with the given GTINs.",
        "operationId" : "retrieveArticlesByGtin",
        "parameters" : [ {
          "name" : "gtins[]",
          "in" : "query",
          "description" : "The GTIN(s) of the articles that should be returned. Repeat key-value for retrieving multiple GTINs.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 50000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "pattern" : "^\\d{14}$",
              "type" : "string"
            }
          }
        }, {
          "name" : "fields[]",
          "in" : "query",
          "description" : "List of fields (properties) of the article to return. Use this to limit the amount of data when not all article fields are needed. When omitted, all available fields are returned. Names of the fields should be given exactly as they appear in the API response. The GTIN field is always returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/retrieve_by_barcode" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Retrieve by barcode",
        "description" : "Retrieves articles associated with the given barcode values.",
        "operationId" : "retrieveArticlesByBarcode",
        "parameters" : [ {
          "name" : "barcodes[]",
          "in" : "query",
          "description" : "The barcode(s) of the articles that should be returned. Repeat key-value for retrieving multiple barcodes.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 50000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        }, {
          "name" : "fields[]",
          "in" : "query",
          "description" : "List of fields (properties) of the article to return. Use this to limit the amount of data when not all article fields are needed. When omitted, all available fields are returned. Names of the fields should be given exactly as they appear in the API response. The GTIN field is always returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/retrieve_by_sku_code" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Retrieve by SKU code",
        "description" : "Retrieves articles associated with the given SKU codes. Note: this endpoint will not return more than 50000 articles, even if there are more matches.",
        "operationId" : "retrieveArticlesBySkuCode",
        "parameters" : [ {
          "name" : "sku_codes[]",
          "in" : "query",
          "description" : "The SKU code(s) of the articles that should be returned. Repeat key-value for retrieving multiple SKU codes.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 50000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        }, {
          "name" : "fields[]",
          "in" : "query",
          "description" : "List of fields (properties) of the article to return. Use this to limit the amount of data when not all article fields are needed. When omitted, all available fields are returned. Names of the fields should be given exactly as they appear in the API response. The GTIN field is always returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/retrieve_by_option_code" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Retrieve by option code",
        "description" : "Retrieves articles associated with the given option codes. The option codes will be matched to the field `option_code`. Note: this endpoint will not return more than 10000 articles, even if there are more matches.",
        "operationId" : "retrieveArticlesByOptionCode",
        "parameters" : [ {
          "name" : "option_codes[]",
          "in" : "query",
          "description" : "The option code(s) of the articles that should be returned. Repeat key-value for retrieving multiple option codes.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 10000,
            "minItems" : 1,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        }, {
          "name" : "fields[]",
          "in" : "query",
          "description" : "List of fields (properties) of the article to return. Use this to limit the amount of data when not all article fields are needed. When omitted, all available fields are returned. Names of the fields should be given exactly as they appear in the API response. The GTIN field is always returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/Article"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/find" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Find",
        "description" : "Finds articles based on a search query that allows search in all fields. Use the skip and count parameters for pagination of results.",
        "operationId" : "findArticles",
        "parameters" : [ {
          "name" : "query",
          "in" : "query",
          "description" : "Search query. Comma separated values to search for in the articles database (‘AND' query). Search will be executed on all fields and is case insensitive",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 1024,
            "type" : "string",
            "default" : "*"
          },
          "example" : "shirt,XXL"
        }, {
          "name" : "skip",
          "in" : "query",
          "description" : "Skip this number of articles. When omitted: skip none.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        }, {
          "name" : "count",
          "in" : "query",
          "description" : "Return this number of articles. The maximum number of returned articles is limited to 50.000. When omitted: return 100 articles.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 50000,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 100
          }
        }, {
          "name" : "extern_ref",
          "in" : "query",
          "description" : "This can be used to match requests with responses from the server (for example, Ajax requests are asynchronous and thus can return out of sequence).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "order[]",
          "in" : "query",
          "description" : "Column to which ordering should be applied. When omitted: default order wil be based on score.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          },
          "example" : "color, name, barcodes.value"
        }, {
          "name" : "fields[]",
          "in" : "query",
          "description" : "List of fields (properties) of the article to return. Use this to limit the amount of data when not all article fields are needed. When omitted, all available fields are returned. Names of the fields should be given exactly as they appear in the API response. The GTIN field is always returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 100,
            "type" : "array",
            "items" : {
              "maxLength" : 255,
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleFindResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v2/quantity" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Retrieve quantity",
        "description" : "Returns the total quantity of articles stored.",
        "operationId" : "getArticleQuantity",
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QuantityResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v3/delete" : {
      "delete" : {
        "tags" : [ "Article API" ],
        "summary" : "Delete specific articles",
        "description" : "Deletes specified articles from the database. This cannot be undone! Please note the articles are not deleted from the apps. To do that, reset the app and re-register using the QR code.",
        "operationId" : "deleteArticles",
        "parameters" : [ {
          "name" : "gtins[]",
          "in" : "query",
          "description" : "GTIN(s) to delete. Repeat key-value for deleting multiple articles.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxItems" : 10000,
            "type" : "array",
            "items" : {
              "maxLength" : 14,
              "pattern" : "^\\d{14}$",
              "type" : "string"
            }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Required field missing: gtins"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v3/delete_all" : {
      "delete" : {
        "tags" : [ "Article API" ],
        "summary" : "Delete all articles",
        "description" : "Deletes all articles from the database. This cannot be undone! Please note the articles are not deleted from the apps. To do that, reset the app and re-register using the QR code.",
        "operationId" : "deleteAllArticles",
        "responses" : {
          "204" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/article/v1/sync" : {
      "get" : {
        "tags" : [ "Article API" ],
        "summary" : "Synchronize",
        "description" : "API for synchronizing the article database and keeping it in sync. This API works like an iterator. Each response includes a list of articles (including deleted articles) and a token. The token must be provided with the next requests. The first request leaves the token empty, which indicates that synchronization starts from the beginning. When the response is empty, the synchronization has finished. The token that is returned can be used to continue synchronization at a later moment (for example the next day). It will then only retrieve articles that have changed since the last synchronization call.\nThe server is allowed to invalidate a token via a 410 response status code, which means that it is no longer possible for the client to synchronize using that token. At this point, a client should invalidate its article database and do a full synchronization (starting with a request that has no token).\nTokens will expire after a certain amount of time, but typically will be valid for multiple days. This means that for example a daily task that needs a replica of article information can (and should) reuse tokens and the article information.\nDeleted articles are provided via the deleted_articles response field. Due to optimizations in the article synchronization implementation, it could happen that a client receives deletes for articles that it has never seen.",
        "operationId" : "syncArticles",
        "parameters" : [ {
          "name" : "token",
          "in" : "query",
          "description" : "The token used to advance the synchronization. When omitted, synchronization starts from the beginning.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 8192,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ArticleSyncResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request"
          },
          "410" : {
            "description" : "The request token has expired or invalidated (gone), and can no longer be used to synchronize. A client must do a full synchronization from the start."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/difference_list/v1/retrieve" : {
      "get" : {
        "tags" : [ "Difference list API" ],
        "summary" : "Retrieve",
        "description" : "Retrieves GTIN-based difference list for a single location. By default, only items with an ERP stock quantity that is different from the RFID count quantity are returned.",
        "operationId" : "retrieveDifferenceList",
        "parameters" : [ {
          "name" : "erp_stock_id",
          "in" : "query",
          "description" : "Identifier of the ERP stock to use.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          },
          "example" : "e8a2a3b8-ea3d-4ab6-857b-db1ae25de2e9"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "Date and time of the RFID count to be used.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "only_differences",
          "in" : "query",
          "description" : "When set to true, only differences will be returned. When set to false, all GTINs in the ERP stock or RFID stock will be returned (except when both are zero).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "include_articles",
          "in" : "query",
          "description" : "Whether to include article details like name, size, etc. in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DifferenceListResponse"
                }
              },
              "application/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DifferenceListResponse"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DifferenceListResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Required field missing: location"
          },
          "404" : {
            "description" : "No RFID count for specified time"
          },
          "412" : {
            "description" : "No RFID count for location"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/difference_list/v1/retrieve_grouped_by_category" : {
      "get" : {
        "tags" : [ "Difference list API" ],
        "summary" : "Retrieve (grouped by category)",
        "description" : "Retrieves GTIN-based difference list for a single location. By default, only items with an ERP stock quantity that is different from the RFID count quantity are returned. Items in difference are grouped by article category.",
        "operationId" : "retrieveDifferenceListGroupedByCategory",
        "parameters" : [ {
          "name" : "erp_stock_id",
          "in" : "query",
          "description" : "Identifier of the ERP stock to use.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          },
          "example" : "e8a2a3b8-ea3d-4ab6-857b-db1ae25de2e9"
        }, {
          "name" : "time",
          "in" : "query",
          "description" : "Date and time of the RFID count to be used.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "only_differences",
          "in" : "query",
          "description" : "When set to true, only differences will be returned. When set to false, all GTINs in the ERP stock or RFID stock will be returned (except when both are zero).",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "include_articles",
          "in" : "query",
          "description" : "Whether to include article details like name, size, etc. in the response.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DifferenceListByCategoryResponse"
                }
              },
              "application/csv" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DifferenceListByCategoryResponse"
                }
              },
              "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DifferenceListByCategoryResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Required field missing: location."
          },
          "404" : {
            "description" : "No RFID count for specified time"
          },
          "412" : {
            "description" : "No RFID count for location"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/display_compliance/v1/create_or_replace" : {
      "post" : {
        "tags" : [ "Display compliance API" ],
        "summary" : "Create or replace",
        "description" : "Create or replace a display compliance suggestions list. Any previous display compliance suggestions list (for that given store) will be replaced. Note that each article as referred by the GTIN must exist in the !D Cloud article database. If it doesn't exist then error code 400 is returned. Same applies for the location. Note that field \"record_time\" is automatically filled by !D Cloud and thus should be omitted from the input.",
        "operationId" : "createOrReplaceDisplayCompliance",
        "requestBody" : {
          "description" : "A display compliance suggestions list.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DisplayCompliance"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "- One ore more required fields are missing or have invalid format. - Location doesn't exist. - Number of put-on and take-off suggestions exceeding 50K. - Article as referred by option code doesn't exist in the !D Cloud article database."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/display_compliance/v1/retrieve" : {
      "get" : {
        "tags" : [ "Display compliance API" ],
        "summary" : "Retrieve",
        "description" : "Response contains a list of put-on suggestions for the requested store. The put-on suggestions are ordered by 1) \"stars\" and 2) \"priority\". For each put-on suggestions there can be 0, 1 or more take-off suggestions. The take-off suggestions are ordered by priority.",
        "operationId" : "retrieveDisplayCompliance",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Location ID of store.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-999"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DisplayCompliance"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid request"
          },
          "404" : {
            "description" : "When no display compliance suggestion list exists for given store."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/display_compliance/v1/delete" : {
      "delete" : {
        "tags" : [ "Display compliance API" ],
        "summary" : "Delete",
        "description" : "Deletes the display compliance suggestion list for the specified store.",
        "operationId" : "deleteDisplayCompliance",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Location ID of store.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-999"
        } ],
        "responses" : {
          "204" : {
            "description" : "Success"
          },
          "400" : {
            "description" : "Invalid request."
          },
          "404" : {
            "description" : "When no display compliance suggestion list exists for given store."
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/epcis/v3/capture" : {
      "post" : {
        "tags" : [ "EPCIS API" ],
        "summary" : "Capture",
        "description" : "Captures and stores EPCIS events. This does not imply any relationship between these EPCIS events.",
        "operationId" : "captureEpcisEvents",
        "requestBody" : {
          "description" : "A list of EPCIS events to be captured.",
          "content" : {
            "application/json" : {
              "schema" : {
                "maxItems" : 10000,
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/EpcisEvent"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Success"
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/epcis/v3/query" : {
      "post" : {
        "tags" : [ "EPCIS API" ],
        "summary" : "Query V3",
        "description" : "Queries and retrieves EPCIS event(s) that match the criteria specified in the query parameters. If no query parameters are provided, the query will match all EPCIS events. If more than one query parameters are provided, events are returned only if they match for all the parameters. If more than one value for a query parameter is provided, events must match at least one of the values. Cursors can be used to iterate through large result sets. See the guidelines on the developer portal for more information on how to use cursors, and the details about the supported parameters.",
        "operationId" : "queryEpcisEventsV3",
        "requestBody" : {
          "description" : "Query parameter object. If two or more query parameters are defined, then the AND operation is always applied.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EpcisQueryRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EpcisQueryResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/epcis/v3/query_long_term" : {
      "post" : {
        "tags" : [ "EPCIS API" ],
        "summary" : "Query long term storage V3",
        "description" : "Queries and retrieves EPCIS event(s) from the EPCIS long term storage. This API provides access to all EPCIS events that are captured and stored in the EPCIS repository, where the `/epcis/v3/query` API provides access to only the EPCIS events that are captured in the last 24 months. However, this API is less flexible when compared to `/epcis/v3/query`, where it only allows to search based on event time, disposition, business step and business location. If no query parameters are provided, the query will match all EPCIS events. If more than one query parameter is provided, events are returned only if they match all parameters. If more than one value for a query parameter is provided, events must match at least one of the values. Cursors are used to iterate through large result sets. This means that this API will never report an error if there are more events matching the query than returned. The `has_more` field in the response will be set to `true` if there are more events matching than returned. The `next_cursor` field will contain the cursor that can be used to retrieve the next batch of EPCIS events. See the guidelines on the developer portal for more information on how to use cursors, and the details about the supported parameters.",
        "operationId" : "queryLongTermEpcisEventsV3",
        "requestBody" : {
          "description" : "If two or more query parameters are defined, then the AND operation is always applied.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EpcisQueryLongTermRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EpcisQueryResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/erp_stock/v1/create" : {
      "post" : {
        "tags" : [ "ERP stock API" ],
        "summary" : "Create",
        "description" : "Creates a snapshot of the stock levels of a store according to the ERP system (\"ERP stock\").",
        "operationId" : "createErpStock",
        "requestBody" : {
          "description" : "The ERP stock to create.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErpStockCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErpStockCreateResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/erp_stock/v1/list" : {
      "get" : {
        "tags" : [ "ERP stock API" ],
        "summary" : "List",
        "description" : "Lists the ERP stock summaries for a given location. This endpoint returns maximum 100 summaries per call.",
        "operationId" : "listErpStocks",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "The location for which to list the ERP stocks.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "from_event_time",
          "in" : "query",
          "description" : "Retrieve the ERP stock summaries from this time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        }, {
          "name" : "until_event_time",
          "in" : "query",
          "description" : "Retrieve the ERP stock summaries until this time.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date-time"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ErpStockSummary"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/erp_stock/v1/retrieve" : {
      "get" : {
        "tags" : [ "ERP stock API" ],
        "summary" : "Retrieve",
        "description" : "Retrieves details of an ERP stock for a given identifier.",
        "operationId" : "retrieveErpStock",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "The identifier of the ERP stock to retrieve.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          }
        }, {
          "name" : "with_excluded",
          "in" : "query",
          "description" : "Boolean parameter that indicates if we want to include excluded GTINs from ERP stock.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErpStock"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/erp_stock/v1/retrieve_summary" : {
      "get" : {
        "tags" : [ "ERP stock API" ],
        "summary" : "Retrieve summary",
        "description" : "Retrieves a summary for an ERP stock.",
        "operationId" : "retrieveErpStockSummary",
        "parameters" : [ {
          "name" : "id",
          "in" : "query",
          "description" : "The identifier of the ERP stock summary to retrieve.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maxLength" : 255,
            "minLength" : 1,
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful operation",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErpStockSummary"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/approved_difference_list_accuracy" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Approved difference list accuracy",
        "description" : "Provides weekly approved difference list accuracy for organization or division.",
        "operationId" : "retrieveApprovedDifferenceListAccuracyWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/approved_difference_list_accuracy_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Approved difference list accuracy (last week)",
        "description" : "Provides last week's approved difference list accuracy for organization or division.",
        "operationId" : "retrieveApprovedDifferenceListAccuracyRecentDaysInfo",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/approved_difference_list_accuracy_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Approved difference list accuracy (specific week)",
        "description" : "Provides approved difference list accuracy for organization or division for specific week.",
        "operationId" : "retrieveApprovedDifferenceListAccuracySpecificWeek",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "year_week",
          "in" : "query",
          "description" : "Mandatory. Specific week for which to return aggregates. Must be in yyyy-ww format.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/approved_difference_list_category_accuracy" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Approved difference list accuracy per category",
        "description" : "Provides weekly approved difference list accuracy per category for organization or division.",
        "operationId" : "retrieveApprovedDifferenceListCategoryAccuracyWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/approved_difference_list_category_accuracy_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Approved difference list accuracy per category (last week)",
        "description" : "Provides last week's approved difference list accuracy per category for organization or division.",
        "operationId" : "retrieveApprovedDifferenceListCategoryAccuracyRecentDaysInfo",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysCategoryAccuracyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_duration" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count duration",
        "description" : "Provides weekly count duration for organization or division.",
        "operationId" : "retrieveCountDurationWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_duration_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count duration (last week)",
        "description" : "Provides last week's count duration for organization or division.",
        "operationId" : "retrieveCountDurationRecentDaysInfo",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_duration_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count duration (specific week)",
        "description" : "Return count duration for organization or division for specific week.",
        "operationId" : "retrieveCountDurationSpecificWeek",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "year_week",
          "in" : "query",
          "description" : "Mandatory. Specific week for which to return aggregates. Must be in yyyy-ww format.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_progress" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count progress",
        "description" : "Provides weekly count progress for organization or division.",
        "operationId" : "retrieveCountProgressWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_progress_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count progress (last week)",
        "description" : "Provides last week's count progress for organization or division.",
        "operationId" : "retrieveCountProgressRecentDaysInfo",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_progress_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count progress (specific week)",
        "description" : "Provides count progress for organization or division for specific week.",
        "operationId" : "retrieveCountProgressSpecificWeek",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "year_week",
          "in" : "query",
          "description" : "Mandatory. Specific week for which to return aggregates. Must be in yyyy-ww format.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_status" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count status",
        "description" : "Provides weekly count status for organization or division.",
        "operationId" : "retrieveCountStatusWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_status_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count status (last week)",
        "description" : "Provides last week's count status for organization or division.",
        "operationId" : "retrieveCountStatusRecentDaysInfo",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_status_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Count status (specific week)",
        "description" : "Provides count status for organization or division for specific week.",
        "operationId" : "retrieveCountStatusSpecificWeek",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "year_week",
          "in" : "query",
          "description" : "Mandatory. Specific week for which to return aggregates. Must be in yyyy-ww format.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_total_duration" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Total count duration",
        "description" : "Provides weekly total count duration for organization or division.",
        "operationId" : "retrieveCountTotalDurationWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_total_duration_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Total count duration (last week)",
        "description" : "Provides last week's total count duration for organization or division.",
        "operationId" : "retrieveCountTotalDurationRecentDaysInfo.",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/count_total_duration_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Total count duration (specific week)",
        "description" : "Provides total count duration for organization or division for specific week.",
        "operationId" : "retrieveCountTotalDurationSpecificWeek",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "year_week",
          "in" : "query",
          "description" : "Mandatory. Specific week for which to return aggregates. Must be in yyyy-ww format.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/difference_list_accuracy" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Difference list accuracy",
        "description" : "Provides weekly difference list accuracy for organization or division.",
        "operationId" : "retrieveDifferenceListAccuracyWeeklyInfo",
        "parameters" : [ {
          "name" : "location",
          "in" : "query",
          "description" : "Optional. String, location identifier from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with division_id.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "http://nedapretail.com/loc/store-123"
        }, {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, accuracy for organization will be returned. Mutually exclusive with location.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "number_of_weeks",
          "in" : "query",
          "description" : "Optional. Number of weeks to go in history (minimum 1, maximum 53). If omitted default is 10. Mutually exclusive with from_week and to_week parameters.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "maximum" : 53,
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32",
            "default" : 10
          },
          "example" : 10
        }, {
          "name" : "from_week",
          "in" : "query",
          "description" : "Optional. Starting point in time from which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with to_week parameter. Must be less than to_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "to_week",
          "in" : "query",
          "description" : "Optional. Ending point in time to which to return weekly aggregates. Must be in yyyy-ww format. Must be specified together with from_week parameter. Must be greater than from_week parameter.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-05"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiWeeklyResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/difference_list_accuracy_last_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Difference list accuracy (last week)",
        "description" : "Provides last week's difference list accuracy for organization or division.",
        "operationId" : "retrieveDifferenceListAccuracyRecentDaysInfo",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/difference_list_accuracy_week" : {
      "get" : {
        "tags" : [ "KPI API" ],
        "summary" : "Difference list accuracy (specific week)",
        "description" : "Provides difference list accuracy for organization or division for specific week.",
        "operationId" : "retrieveDifferenceListAccuracySpecificWeek",
        "parameters" : [ {
          "name" : "division_id",
          "in" : "query",
          "description" : "Optional. Numeric division ID (target ID) from device management. If omitted, aggregated data for the entire organization is returned.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          },
          "example" : 2736423
        }, {
          "name" : "year_week",
          "in" : "query",
          "description" : "Mandatory. Specific week for which to return aggregates. Must be in yyyy-ww format.",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "pattern" : "^\\d{4}-\\d{2}$",
            "type" : "string"
          },
          "example" : "2018-04"
        }, {
          "name" : "list_stores",
          "in" : "query",
          "description" : "Optional. If set to true, instead of returning child divisions and stores, it will return flat list of all store descendants (all depth levels) for given division. If set to false, it will return child divisions and stores, only child entities are included, not all descendants. If omitted, defaults to false.",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "example" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/KpiRecentDaysResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuth" : [ ]
        } ]
      }
    },
    "/kpi/v1/on_shelf_availability" : {
      "get" : {
        "tags" : [ "KPI API" ],
[...]
